beautifulsoup4
nltk
streamlit
requests
bs4
pandas
pd
time
numpy
np
nltk.sentiment 
SentimentIntensityAnalyzer
seaborn
sns
matplotlib.pyplot 
plt
matplotlib.gridspec 
gridspec
matplotlib.dates 
mdates
matplotlib.backends.backend_pdf 
PdfPages
wordcloud 
WordCloud
dateutil.relativedelta 
relativedelta
